body {
    background-image: url("/Images/MapBackground.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative
  }

  p {
    font-weight: bolder;
    font-family: 'Indie Flower', cursive;
    ;
  }
 
  /* jumbotron header?  */
  .jumbotron {
    background-image: url("Images/MAP Background2.jpg");
    font-family: 'Indie Flower', cursive;
    background-color: whitesmoke;
  }

/* all three nav bars */
  nav {
    background-color: pink;
    color: darkslategrey;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
  }
/* heaaders on each page  */
   h1 h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    color: darkslategrey

  }

  footer {
    background-color: pink;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    color: darkslategrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }