body {
    background-image: url("../Images/MAPBackground.jpg");
    height: 500px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    position: relative
  }

  
/* adding space between the header and the body */
  .lead {
    margin-bottom: 25px;
  }

  p {
    font-weight: bolder;
    font-family: 'Indie Flower', cursive;
  }
    
/* all three nav bars */
  nav {
    background-color: pink;
    color: darkslategrey;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
  }
/* heaaders on each page  */
  .header h1 h2 {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    color: darkslategrey

  }

  footer {
    background-color: pink;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    color: darkslategrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }